@tailwind base;
@tailwind components;
@tailwind utilities;

ol,
ul {
  list-style-type: disc;
}

.markdown-body a {
  display: inline-block;
}

.markdown-body [align="center"] img {
  margin: 0 auto;
}
